@charset "UTF-8";
/* CSS Document */

#page-content {
  position: fixed;
  overflow-y: scroll;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

#main-logo-video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.black-filter-bg {
  position: absolute;
  z-index: 1;
  top: 0px;
  bottom: 5px;
  left: 0px;
  right: 0px;
  background-color: #000;
  opacity: 0.3;
}

.fullscreen-bg {
  position: relative;
  overflow: hidden;
}

.fullscreen-bg_video {
  width: 100%;
  height: auto;
}
