@charset "UTF-8";
/* CSS Document */

#menu {
  position: absolute;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 40px;
  text-align: right;
  line-height: 40px;
  background-color: rgba(1, 1, 1, 0.3);
  color: rgba(1, 1, 1, 0.8);
  z-index: 1;
}

#menu a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
	font-size: 13px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	text-decoration: none;
}

#menu a:hover {
	color: #999999;
}
